<!DOCTYPE html>
<html
        lang="en"
        data-th-replace="~{layouts/layout :: layout(
                                                mainContent=~{:: main},
                                                cssContent=~{:: link},
                                                title=~{:: title}
                                            )}"
>

<title>Création d'une enchère</title>

<link rel="stylesheet" data-th-href="@{/css/create-profile.css}">

<main>
    <form action="" data-th-replace="~{fragments/fragment-form-create-auction}"></form>
</main>

</html>