<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout(
                                                mainContent=~{:: main},
                                                cssContent=~{:: link},
                                                title=~{:: title}
                                            )}"
      xmlns="http://www.w3.org/1999/html">


<head>
    <title data-th-text="#{frag-entete.a.enchere.list}"></title>
    <link rel="stylesheet" data-th-href="@{/css/list.css}">
</head>


<body>
<main>
    <h1 data-th-text="#{frag-entete.a.enchere.list}"></h1>

    <form action="/recherche" method="POST">
        <div class="search-form">
            <div class="search-container">
                <label for="q" data-th-text="#{frag-form-search-filter}">Filtres : </label>

                <input id="q" type="text" name="q" maxlength="25" data-th-placeholder="#{frag-form-search-text}">
            </div>


            <div class="search-category">
                <label class="label-category" for="category"
                       data-th-text="#{frag-form-search-label-category}">catégorie : </label>

                <div>
                    <select id="category" name="category">
                        <option data-th-value="#{frag-form-search-category-All}">Toutes</option>
                        <option data-th-value="#{frag-form-search-category-computerDevice}">Informatique</option>
                        <option data-th-value="#{frag-form-search-category-furnishing}">Ameublement</option>
                        <option data-th-value="#{frag-form-search-category-clothing}">Vêtement</option>
                        <option data-th-value="#{frag-form-search-category-sportLeisure}">Sport&Loisirs</option>
                    </select>
                </div>
            </div>

        </div>

        <button type="submit" data-th-text="#{frag-form-search-submit}">Rechercher</button>

    </form>


    <div class="table-article" >
        <div class="tableau" data-th-each="articles : ${articles}">
            <ul>
                <img class="image-list" src="/images/ordinateur-portable.jpg" alt="Image du produit">
                <li>
                    <p data-th-text="${articles.name}"></p>
                </li>

                <li>
                    <p data-th-text="#{frag-form-list-box-Price}+${articles.betAPrice}+' '+#{frag-form-list-box-Points}"></p>
                </li>
                <!--            <tr>-->
                <!--                <td data-th-text="${articles.startDate}"></td>-->
                <!--            </tr>-->
                <li>
                    <p data-th-text="#{frag-form-list-box-AuctionEnd}+${articles.endDate}"></p>
                </li>
                <li>
                    <p data-th-text="#{frag-form-list-box-Seller}+${articles.user}"></p>
                </li>
                <li>
                    <a data-th-href="@{/auctions/view(id=${articles.idArticle})}" data-th-text="Details"></a>
                </li>
            </ul>
        </div>
    </div>
</main>
</body>
</html>



