<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout(
                                                mainContent=~{:: main},
                                                cssContent=~{:: link},
                                                title=~{:: title}
                                            )}"
      xmlns="http://www.w3.org/1999/html">


<head>
    <title data-th-text="#{frag-entete.a.enchere.list}"></title>
    <link rel="stylesheet" data-th-href="@{/css/list.css}">
</head>


<body>
<main>
    <h1 data-th-text="#{frag-entete.a.enchere.list}"></h1>

    <form method="post" th:action="@{/auctions/list/recherche}">
        <div class="search-form">
            <div class="search-container">
                <label for="name"></label>
                <input type="text" id="name" placeholder="Recherche par mot-clé" name="name"/>
            </div>
            <div class="search-category">
                <label class="label-category" for="category"></label>
                <div>
                    <select id="category" name="category">
                        <option value="">Toutes les catégories</option>
                        <option data-th-each="category : ${category}"
                                data-th-value="${category.idCategory}"
                                data-th-text="${category.wording}"></option>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit">Rechercher</button>
    </form>
    <div class="table-article">
        <div class="article-card" data-th-each="article : ${articles}">


            <img class="image-list" th:src="@{'/uploads/' + ${article.picture}}" alt="Image de l'article">


            <div class="article-title">
                <p data-th-text="${article.name}"></p>
            </div>

            <ul>
                <li>
                    <p data-th-text="#{frag-form-list-box-Price} + ${article.betAPrice} + ' ' + #{frag-form-list-box-Points}"></p>
                </li>
                <li>
                    <p data-th-text="#{frag-form-list-box-AuctionStart}+${article.formattedStartDate}"></p>
                </li>
                <li>
                    <p data-th-text="#{frag-form-list-box-AuctionEnd}+${article.formattedEndDate}"></p>
                </li>
                <li>
                    <a th:href="@{'/users/viewProfile/' + ${userMap[article.user].idUser}}"
                       th:text="#{frag-form-list-box-Seller} + ${userMap[article.user].pseudo}"></a>
                </li>
                <li>
                    <a data-th-href="@{/auctions/view(id=${article.idArticle})}" th:text="Details"></a>
                </li>
            </ul>
        </div>
    </div>

</main>
</body>
</html>



