<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      data-th-fragment="layout(mainContent, cssContent, title)"
      xmlns="http://www.w3.org/1999/html">


<head>
    <meta charset="UTF-8"
          name="viewport"
          content="width=device-width, initial-scale=1.0"
    >
    <title data-th-text="#{frag-entete.a.enchere.list}"></title>
    <link rel="stylesheet" data-th-href="@{/css/list.css}">
    <link rel="stylesheet" data-th-href="@{/css/general.css}">
    <link rel="icon" data-th-href="@{/images/logoENI.png}">

</head>


<body>

<header data-th-replace="~{fragments/fragment-header :: header}"></header>

<main>
    <h1 data-th-text="#{frag-entete.a.enchere.list}"></h1>

    <form action="/recherche" method="POST">
        <div class="search-form">


            <div class="search-container">
                <label for="q" data-th-text="#{frag-form-search-filter}">Filtres : </label>

                <input id="q" type="text" name="q" maxlength="25" data-th-placeholder="#{frag-form-search-text}">

            </div>


            <div class="search-category">
                <label class="label-category" for="category" data-th-text="#{frag-form-search-label-category}">catégorie
                    :</label>
                <div>

                    <select id="category" name="category">
                        <option data-th-value="#{frag-form-search-category-All}">Toutes</option>
                        <option data-th-value="#{frag-form-search-category-computerDevice}">Informatique</option>
                        <option data-th-value="#{frag-form-search-category-furnishing}">Ameublement</option>
                        <option data-th-value="#{frag-form-search-category-clothing}">Vêtement</option>
                        <option data-th-value="#{frag-form-search-category-sportLeisure}">Sport&Loisirs</option>

                    </select>
                </div>
            </div>
        </div>
        <button type="submit" data-th-text="#{frag-form-search-submit}">Rechercher</button>

    </form>
    <div class="box" data-th-each="articles: ${articles}">
        <p data-th-text="${articles.name}"></p>
        <p data-th-text="${articles.betAPrice}"></p>
        <p data-th-text="${articles.startDate}"></p>
        <p data-th-text="${articles.endDate}"></p>
        <p data-th-text="${articles.user}"></p>
        <a data-th-href="@{/auctions/view(id=${articles.idArticle})}" data-th-text="Details"></a>
    </div>
</main>
<footer data-th-replace="~{fragments/fragment-footer :: footer}"></footer>

</body>
</html>



