<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        data-th-replace="~{layouts/layout :: layout(
                                                mainContent=~{:: main},
                                                cssContent=~{:: link},
                                                title=~{:: title}
                                            )}"
        xmlns="http://www.w3.org/1999/html">
<head>
    <title data-th-text="Titre"></title>

    <link rel="stylesheet" data-th-href="@{/css/view.css}">
</head>

<body>
<main>
    <h1 data-th-text="#{frag-form-view-title}">Détail de la vente</h1>

    <div id="view_zone">
        <img id="view_img" src="/images/items/1.jpg" alt="Image du produit">

        <form id="view_box">
            <h2 data-th-text="${article.name}"></h2>
            <br>
            <p id="para" data-th-text="#{frag-form-view-description}+${article.getDescription()}"></p>
            <div>

                <div>
                    <p data-th-text="#{frag-form-view-category}+${article.getCategory().getWording()}"></p>
            </div>

            <p data-th-text="#{frag-form-view-bestBid}+${article.getBetAPrice()}"></p>
            <p data-th-text="#{frag-form-view-endAuction}+${article.getFormattedEndDate()}"></p>
            <p data-th-text="#{frag-form-view-firstPrice}+${article.getSalePrice()}"></p>
                <p data-th-text="#{frag-form-view-pickup} + ' ' + ${pickup.city + ' ' + pickup.street + ' ' + pickup.postalCode}"></p>

                <p data-th-text="#{frag-form-view-seller}+${user.pseudo}"></p>

            <p data-th-text="#{frag-form-view-myBid}+${article.getFormattedStartDate()}"></p>
                <a th:href="@{/bid/bid(itemId=${article.idArticle})}" class="btn btn-primary">Placer une enchère</a>
            </div>
        </form>
    </div>
</main>

</body>
</html>
