<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        data-th-replace="~{layouts/layout :: layout(
                                                mainContent=~{:: main},
                                                cssContent=~{:: link},
                                                title=~{:: title}
                                            )}"
        xmlns="http://www.w3.org/1999/html">
<head>
<title data-th-text="Titre"></title>

    <link rel="stylesheet" data-th-href="@{/css/list.css}">
</head>

<body>
<main>
    <h1 data-th-text="Titre"></h1>
    <div class="box">
        <p data-th-text="${article.name}"></p>
        <p data-th-text="${article.betAPrice}"></p>
        <p data-th-text="${article.startDate}"></p>
        <p data-th-text="${article.endDate}"></p>
        <p data-th-text="${article.user}"></p>
    </div>
</main>

</body>
</html>
