/.idea/modules/enchere.iml
/.idea/modules/enchere.main.iml
/.idea/modules/enchere.test.iml
/.idea/libraries/Gradle__ch_qos_logback_logback_classic_1_5_18.xml
/.idea/libraries/Gradle__ch_qos_logback_logback_core_1_5_18.xml
/.idea/libraries/Gradle__com_fasterxml_classmate_1_7_0.xml
/.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_annotations_2_18_3.xml
/.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_core_2_18_3.xml
/.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_databind_2_18_3.xml
/.idea/libraries/Gradle__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_18_3.xml
/.idea/libraries/Gradle__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_18_3.xml
/.idea/libraries/Gradle__com_fasterxml_jackson_module_jackson_module_parameter_names_2_18_3.xml
/.idea/libraries/Gradle__com_jayway_jsonpath_json_path_2_9_0.xml
/.idea/libraries/Gradle__com_microsoft_sqlserver_mssql_jdbc_12_8_1_jre11.xml
/.idea/libraries/Gradle__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
/.idea/libraries/Gradle__com_zaxxer_HikariCP_5_1_0.xml
/.idea/libraries/Gradle__io_micrometer_micrometer_commons_1_14_6.xml
/.idea/libraries/Gradle__io_micrometer_micrometer_core_1_14_6.xml
/.idea/libraries/Gradle__io_micrometer_micrometer_jakarta9_1_14_6.xml
/.idea/libraries/Gradle__io_micrometer_micrometer_observation_1_14_6.xml
/.idea/libraries/Gradle__jakarta_activation_jakarta_activation_api_2_1_3.xml
/.idea/libraries/Gradle__jakarta_annotation_jakarta_annotation_api_2_1_1.xml
/.idea/libraries/Gradle__jakarta_validation_jakarta_validation_api_3_0_2.xml
/.idea/libraries/Gradle__jakarta_xml_bind_jakarta_xml_bind_api_4_0_2.xml
/.idea/libraries/Gradle__net_bytebuddy_byte_buddy_1_15_11.xml
/.idea/libraries/Gradle__net_bytebuddy_byte_buddy_agent_1_15_11.xml
/.idea/libraries/Gradle__net_minidev_accessors_smart_2_5_2.xml
/.idea/libraries/Gradle__net_minidev_json_smart_2_5_2.xml
/.idea/libraries/Gradle__org_apache_logging_log4j_log4j_api_2_24_3.xml
/.idea/libraries/Gradle__org_apache_logging_log4j_log4j_to_slf4j_2_24_3.xml
/.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_core_10_1_40.xml
/.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_el_10_1_40.xml
/.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_websocket_10_1_40.xml
/.idea/libraries/Gradle__org_apiguardian_apiguardian_api_1_1_2.xml
/.idea/libraries/Gradle__org_assertj_assertj_core_3_26_3.xml
/.idea/libraries/Gradle__org_attoparser_attoparser_2_0_7_RELEASE.xml
/.idea/libraries/Gradle__org_awaitility_awaitility_4_2_2.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_2_2.xml
/.idea/libraries/Gradle__org_hdrhistogram_HdrHistogram_2_2_2.xml
/.idea/libraries/Gradle__org_hibernate_validator_hibernate_validator_8_0_2_Final.xml
/.idea/libraries/Gradle__org_jboss_logging_jboss_logging_3_6_1_Final.xml
/.idea/libraries/Gradle__org_junit_jupiter_junit_jupiter_5_11_4.xml
/.idea/libraries/Gradle__org_junit_jupiter_junit_jupiter_api_5_11_4.xml
/.idea/libraries/Gradle__org_junit_jupiter_junit_jupiter_engine_5_11_4.xml
/.idea/libraries/Gradle__org_junit_jupiter_junit_jupiter_params_5_11_4.xml
/.idea/libraries/Gradle__org_junit_platform_junit_platform_commons_1_11_4.xml
/.idea/libraries/Gradle__org_junit_platform_junit_platform_engine_1_11_4.xml
/.idea/libraries/Gradle__org_junit_platform_junit_platform_launcher_1_11_4.xml
/.idea/libraries/Gradle__org_latencyutils_LatencyUtils_2_0_3.xml
/.idea/libraries/Gradle__org_mockito_mockito_core_5_14_2.xml
/.idea/libraries/Gradle__org_mockito_mockito_junit_jupiter_5_14_2.xml
/.idea/libraries/Gradle__org_objenesis_objenesis_3_3.xml
/.idea/libraries/Gradle__org_opentest4j_opentest4j_1_3_0.xml
/.idea/libraries/Gradle__org_ow2_asm_asm_9_7_1.xml
/.idea/libraries/Gradle__org_skyscreamer_jsonassert_1_5_3.xml
/.idea/libraries/Gradle__org_slf4j_jul_to_slf4j_2_0_17.xml
/.idea/libraries/Gradle__org_slf4j_slf4j_api_2_0_17.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_3_4_5.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_actuator_3_4_5.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_actuator_autoconfigure_3_4_5.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_autoconfigure_3_4_5.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_devtools_3_4_5.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_3_4_5.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_actuator_3_4_5.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_data_jdbc_3_4_5.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_jdbc_3_4_5.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_json_3_4_5.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_logging_3_4_5.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_security_3_4_5.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_test_3_4_5.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_thymeleaf_3_4_5.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_tomcat_3_4_5.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_validation_3_4_5.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_web_3_4_5.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_test_3_4_5.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_test_autoconfigure_3_4_5.xml
/.idea/libraries/Gradle__org_springframework_data_spring_data_commons_3_4_5.xml
/.idea/libraries/Gradle__org_springframework_data_spring_data_jdbc_3_4_5.xml
/.idea/libraries/Gradle__org_springframework_data_spring_data_relational_3_4_5.xml
/.idea/libraries/Gradle__org_springframework_security_spring_security_config_6_4_5.xml
/.idea/libraries/Gradle__org_springframework_security_spring_security_core_6_4_5.xml
/.idea/libraries/Gradle__org_springframework_security_spring_security_crypto_6_4_5.xml
/.idea/libraries/Gradle__org_springframework_security_spring_security_test_6_4_5.xml
/.idea/libraries/Gradle__org_springframework_security_spring_security_web_6_4_5.xml
/.idea/libraries/Gradle__org_springframework_spring_aop_6_2_6.xml
/.idea/libraries/Gradle__org_springframework_spring_beans_6_2_6.xml
/.idea/libraries/Gradle__org_springframework_spring_context_6_2_6.xml
/.idea/libraries/Gradle__org_springframework_spring_core_6_2_6.xml
/.idea/libraries/Gradle__org_springframework_spring_expression_6_2_6.xml
/.idea/libraries/Gradle__org_springframework_spring_jcl_6_2_6.xml
/.idea/libraries/Gradle__org_springframework_spring_jdbc_6_2_6.xml
/.idea/libraries/Gradle__org_springframework_spring_test_6_2_6.xml
/.idea/libraries/Gradle__org_springframework_spring_tx_6_2_6.xml
/.idea/libraries/Gradle__org_springframework_spring_web_6_2_6.xml
/.idea/libraries/Gradle__org_springframework_spring_webmvc_6_2_6.xml
/.idea/libraries/Gradle__org_thymeleaf_thymeleaf_3_1_3_RELEASE.xml
/.idea/libraries/Gradle__org_thymeleaf_thymeleaf_spring6_3_1_3_RELEASE.xml
/.idea/libraries/Gradle__org_unbescape_unbescape_1_1_6_RELEASE.xml
/.idea/libraries/Gradle__org_xmlunit_xmlunit_core_2_10_0.xml
/.idea/libraries/Gradle__org_yaml_snakeyaml_2_3.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_28_04_2025_11_46_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_28_04_2025_11_46__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
/build/resources/main/static/images/items/1.jpg
/build/resources/main/static/images/items/18.jpg
/src/main/resources/static/images/items/18.jpg
/build/resources/main/static/images/items/19.jpg
/src/main/resources/static/images/items/19.jpg
/build/resources/main/static/images/items/20.jpg
/src/main/resources/static/images/items/20.jpg
/build/resources/main/static/images/items/21.jpg
/src/main/resources/static/images/items/21.jpg
/build/resources/main/static/images/items/22.jpg
/src/main/resources/static/images/items/22.jpg
/build/resources/main/static/images/items/23.jpg
/src/main/resources/static/images/items/23.jpg
/build/resources/main/static/images/items/24.jpg
/src/main/resources/static/images/items/24.jpg
/build/resources/main/static/images/items/25.jpg
/src/main/resources/static/images/items/25.jpg
/build/resources/main/static/images/items/26.jpg
/src/main/resources/static/images/items/26.jpg
/build/resources/main/templates/admin/addCategory.html
/build/classes/java/main/fr/eni/tp/projet/controller/AdminController.class
/build/resources/main/application.properties
/out/production/resources/application.properties
/build/classes/java/main/fr/eni/tp/projet/bo/Article.class
/build/classes/java/main/fr/eni/tp/projet/dal/impl/ArticleCategoryRowMapper.class
/build/classes/java/main/fr/eni/tp/projet/dal/ArticleDAO.class
/build/classes/java/main/fr/eni/tp/projet/dal/impl/ArticleDAOImpl.class
/build/tmp/compileJava/compileTransaction/stash-dir/ArticleDAOImpl.class.uniqueId0
/build/classes/java/main/fr/eni/tp/projet/dal/impl/ArticleRowMapper.class
/build/tmp/compileJava/compileTransaction/stash-dir/ArticleRowMapper.class.uniqueId2
/build/classes/java/main/fr/eni/tp/projet/controller/ArticlesController.class
/build/classes/java/main/fr/eni/tp/projet/bll/ArticleService.class
/build/classes/java/main/fr/eni/tp/projet/bll/impl/ArticleServiceImpl.class
/build/classes/java/main/fr/eni/tp/projet/controller/AuctionController.class
/build/classes/java/main/fr/eni/tp/projet/bo/AuctionForm.class
/build/classes/java/main/fr/eni/tp/projet/bll/AuctionsService.class
/build/classes/java/main/fr/eni/tp/projet/bll/impl/AuctionsServiceImpl.class
/build/classes/java/main/fr/eni/tp/projet/bll/scheduler/AuctionStatusScheduler.class
/build/classes/java/main/fr/eni/tp/projet/bo/Bid.class
/build/resources/main/static/css/bid.css
/build/resources/main/templates/bid/bid.html
/build/classes/java/main/fr/eni/tp/projet/dal/BidDAO.class
/build/classes/java/main/fr/eni/tp/projet/dal/impl/BidDAOImpl.class
/build/resources/main/static/css/bidlist.css
/build/classes/java/main/fr/eni/tp/projet/dal/impl/BidRowMapper.class
/build/classes/java/main/fr/eni/tp/projet/bll/BidService.class
/build/classes/java/main/fr/eni/tp/projet/bll/impl/BidServiceImpl.class
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/build/classes/java/main/fr/eni/tp/projet/exception/BusinessCode.class
/build/classes/java/main/fr/eni/tp/projet/exception/BusinessException.class
/.gradle/buildOutputCleanup/cache.properties
/build/resources/main/templates/auctions/cancel.html
/out/production/resources/templates/auctions/cancel.html
/build/classes/java/main/fr/eni/tp/projet/bo/Categories.class
/build/classes/java/main/fr/eni/tp/projet/controller/CategoriesController.class
/build/classes/java/main/fr/eni/tp/projet/dal/CategoriesDAO.class
/build/classes/java/main/fr/eni/tp/projet/dal/impl/CategoriesDAOImpl.class
/build/classes/java/main/fr/eni/tp/projet/dal/impl/CategoriesRowMapper.class
/build/classes/java/main/fr/eni/tp/projet/bll/CategoriesService.class
/build/classes/java/main/fr/eni/tp/projet/bll/impl/CategoriesServiceImpl.class
/build/resources/main/templates/users/change-password.html
/.gradle/8.10/checksums/checksums.lock
/.idea/compiler.xml
/build/resources/main/templates/users/create.html
/out/production/resources/templates/auctions/create.html
/out/production/resources/templates/users/create.html
/build/resources/main/static/css/create-profile.css
/build/resources/main/templates/admin/dashboard.html
/build/resources/main/static/images/English.webp
/out/production/resources/static/images/English.webp
/.gradle/8.10/executionHistory/executionHistory.bin
/.gradle/8.10/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/8.10/fileHashes/fileHashes.bin
/.gradle/8.10/fileHashes/fileHashes.lock
/build/resources/main/static/css/footer.css
/build/resources/main/templates/users/forgot-password.html
/build/resources/main/templates/fragments/fragment-footer.html
/out/production/resources/templates/fragments/fragment-footer.html
/build/resources/main/templates/fragments/fragment-form.html
/out/production/resources/templates/fragments/fragment-form.html
/build/resources/main/templates/fragments/fragment-form-create-auction.html
/build/resources/main/templates/fragments/fragment-header.html
/out/production/resources/templates/fragments/fragment-header.html
/out/production/resources/templates/fragments/fragment-liste.html
/build/resources/main/static/images/French.webp
/out/production/resources/static/images/French.webp
/.gradle/8.10/dependencies-accessors/gc.properties
/.gradle/8.10/gc.properties
/.gradle/vcs-1/gc.properties
/out/production/resources/static/css/general.css
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/build/resources/main/static/css/header.css
/build/resources/main/templates/index.html
/out/production/resources/templates/index.html
/build/classes/java/main/fr/eni/tp/projet/exception/InsufficientCreditsException.class
/build/classes/java/main/fr/eni/tp/projet/configuration/LanguageConfiguration.class
/.gradle/8.10/fileChanges/last-build.bin
/build/resources/main/static/css/layout.css
/build/resources/main/templates/layouts/layout.html
/out/production/resources/templates/layouts/layout.html
/build/resources/main/static/css/list.css
/build/resources/main/templates/auctions/list.html
/build/resources/main/templates/bid/list.html
/out/production/resources/templates/auctions/list.html
/out/production/resources/static/css/liste.css
/build/resources/main/static/css/login.css
/out/production/resources/static/css/login.css
/build/resources/main/templates/contexte/login.html
/out/production/resources/templates/contexte/login.html
/build/classes/java/main/fr/eni/tp/projet/controller/LoginController.class
/build/resources/main/static/images/logoENI.png
/out/production/resources/static/images/logoENI.png
/build/resources/main/static/images/loupe.gif
/.gradle/8.10/checksums/md5-checksums.bin
/build/resources/main/messages.properties
/out/production/resources/messages.properties
/build/resources/main/messages_en.properties
/out/production/resources/messages_en.properties
/build/resources/main/messages_fr.properties
/out/production/resources/messages_fr.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/build/classes/java/main/fr/eni/tp/projet/bo/Pickup.class
/build/classes/java/main/fr/eni/tp/projet/dal/PickUpDAO.class
/build/classes/java/main/fr/eni/tp/projet/dal/impl/PickUpDAOImpl.class
/build/classes/java/main/fr/eni/tp/projet/dal/impl/PickUpRowMapper.class
/build/classes/java/main/fr/eni/tp/projet/bll/PickUpService.class
/build/classes/java/main/fr/eni/tp/projet/bll/impl/PickUpServiceImpl.class
/build/tmp/compileJava/previous-compilation-data.bin
/build/tmp/compileTestJava/previous-compilation-data.bin
/build/resources/main/static/css/profile.css
/build/resources/main/templates/users/profile.html
/out/production/resources/templates/users/profile.html
/build/resources/main/static/css/profile-update.css
/build/resources/main/static/css/profilecheck.css
/build/classes/java/main/fr/eni/tp/projet/ProjetApplication.class
/build/classes/java/test/fr/eni/tp/projet/ProjetApplicationTests.class
/.gradle/8.10/fileHashes/resourceHashesCache.bin
/build/classes/java/main/fr/eni/tp/projet/configuration/SecurityConfiguration.class
/.gradle/8.10/checksums/sha1-checksums.bin
/.idea/shelf/Uncommitted_changes_before_Update_at_02_05_2025_14_50_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_02_05_2025_16_09_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_05_05_2025_16_47_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_06_05_2025_10_38_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_06_05_2025_12_15_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_06_05_2025_14_48_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_07_05_2025_11_03_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_07_05_2025_14_52_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_09_05_2025_10_19_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_30_04_2025_11_09_[Changes]/shelved.patch
/build/classes/java/main/fr/eni/tp/projet/controller/converter/StringToCategoryConverter.class
/build/resources/main/templates/admin/teamlyf.html
/.idea/shelf/Uncommitted_changes_before_Update_at_02_05_2025_14_50__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_02_05_2025_16_09__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_05_05_2025_16_47__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_06_05_2025_10_38__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_06_05_2025_12_15__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_06_05_2025_14_48__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_07_05_2025_11_03__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_07_05_2025_14_52__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_09_05_2025_10_19__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_09_05_2025_11_00__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_30_04_2025_11_09__Changes_.xml
/build/resources/main/templates/users/update.html
/build/classes/java/main/fr/eni/tp/projet/bo/User.class
/build/classes/java/main/fr/eni/tp/projet/controller/UserController.class
/build/classes/java/main/fr/eni/tp/projet/dal/UserDAO.class
/build/classes/java/main/fr/eni/tp/projet/dal/impl/UserDAOImpl.class
/build/classes/java/main/fr/eni/tp/projet/dal/impl/UserRowMapper.class
/build/classes/java/main/fr/eni/tp/projet/bll/UserService.class
/build/classes/java/main/fr/eni/tp/projet/bll/impl/UserServiceImpl.class
/build/tmp/compileJava/compileTransaction/stash-dir/UserServiceImpl.class.uniqueId1
/build/resources/main/static/css/view.css
/build/resources/main/templates/auctions/view.html
/out/production/resources/templates/auctions/view.html
/build/resources/main/templates/users/viewProfile.html
/out/production/resources/templates/users/viewProfile.html
