<form data-th-action="@{/users/create}" method="post" data-th-object="${user}">
    <h1>Créer un compte</h1>
    <ul class="flex-outer">
        <li>
            <label for="pseudo" data-th-text="#{frag-create-profile-form.pseudo}"></label>
            <input type="text" name="pseudo" id="pseudo" data-th-field="*{pseudo}" required>
        </li>
        <li>
            <label for="name" data-th-text="#{frag-create-profile-form.name}"></label>
            <input type="text" name="name" id="name" data-th-field="*{name}" required>
        </li>
        <li>
            <label for="firstName" data-th-text="#{frag-create-profile-form.firstName}"></label>
            <input type="text" name="firstName" id="firstName" data-th-field="*{firstName}" required>
        </li>
        <li>
            <label for="email" data-th-text="#{frag-create-profile-form.email}"></label>
            <input type="text" name="email" id="email" data-th-field="*{email}" required>
        </li>
        <li>
            <label for="password" data-th-text="#{frag-create-profile-form.password}"></label>
            <input type="password" name="password" id="password" data-th-field="*{password}" required>
        </li>
<!--        <li>-->
<!--            <label for="confirmPassword" data-th-text="#{frag-create-profile-form.confirmPassword}"></label>-->
<!--            <input type="password" name="confirmPassword" id="confirmPassword" required>-->
<!--        </li>-->
        <li>
            <label for="phone" data-th-text="#{frag-create-profile-form.phone}"></label>
            <input type="number" name="phone" id="phone" data-th-field="*{phone}" required>
        </li>
        <li>
            <label for="street" data-th-text="#{frag-create-profile-form.street}"></label>
            <input type="text" name="street" id="street" data-th-field="*{street}" required>
        </li>
        <li>
            <label for="city" data-th-text="#{frag-create-profile-form.city}"></label>
            <input type="text" name="city" id="city" data-th-field="*{city}" required>
        </li>
        <li>
            <label for="postalCode" data-th-text="#{frag-create-profile-form.postalCode}"></label>
            <input type="number" name="postalCode" id="postalCode" data-th-field="*{postalCode}" required>
        </li>
        <li>
            <button type="submit" data-th-text="#{frag-create-profile-form.validate}"></button>
            <a data-th-href="@{/}" data-th-text="#{frag-create-profile-form.cancel}"></a>
        </li>
    </ul>
</form>