<!DOCTYPE html>
<html
        lang="en"
        data-th-replace="~{layouts/layout :: layout(
                                                mainContent=~{:: main},
                                                cssContent=~{:: link},
                                                title=~{:: title}
                                            )}"
>
<head>
    <meta charset="UTF-8"
          name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title data-th-text="#{frag-entete.a.enchere.list}"></title>
    <link rel="stylesheet" data-th-href="@{/css/profile.css}">
    <link rel="icon" data-th-href="@{/images/logoENI.png}">
</head>

<body>


<main>
    <h1 th:text="|Profil de ${user.pseudo}|"></h1>

    <form>
        <ul class="profile">
            <li>Pseudo: <span th:text="${user.pseudo}"></span></li>
            <li>Nom: <span th:text="${user.name}"></span></li>
            <li>Prénom: <span th:text="${user.firstName}"></span></li>
            <li>Email: <span th:text="${user.email}"></span></li>
            <li>Téléphone: <span th:text="${user.phone}"></span></li>
            <li>Adresse: <span th:text="${user.street}"></span></li>
            <li>Code postal: <span th:text="${user.postalCode}"></span></li>
            <li>Ville: <span th:text="${user.city}"></span></li>
        </ul>
    </form>
</main>

</body>
</html>
