/* ---------- Main Title ---------- */
h1 {
    margin-top: 20vh;
    text-align: center;
}

/* ---------- Search Form ---------- */
form {
    margin: 5vw 1vw 1vw 1vw;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    align-items: center;
    justify-content: space-around;
}

.search-category {
    margin-top: 1vw;
    display: inline-flex;
    align-items: center;
}

.search-container {
    position: relative;
    flex: 1 1 100%;
}

.search-container label {
    margin-bottom: 10px;
    display: block;
}

.search-form {
    width: 50%;
}

input {
    background-image: url("/images/loupe.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0.5vw;
    width: 100%;
    padding: 5px 12px 5px 40px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
}

select,
select#category {
    width: 32vw;
    text-align: center;
    height: 8vh;
    border: 1px solid white;
    background-color: lightgray;
}

button {
    width: 15vw;
    box-shadow: 3px 5px;
    border: none;
    height: 8vh;
    font-size: 1em;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}


.label-category {
    align-content: center;
}

/* ---------- Article Table ---------- */
.table-article {
    display: grid;
    grid-template-columns: repeat(2, minmax(20vw,40vw));
    gap: 2vw;
    margin: 10vh;
    padding: 0 5vw;
}

/* ---------- Individual Article ---------- */
.article-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 2vh 2vw;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
    margin: 0 10px 0 10px;
}

.article-card:hover {
    transform: scale(1.02);
}

.article-card img {
    max-width: 100%;
    height: 500px;
    border-radius: 8px;
    margin-bottom: 1vh;



}

.article-title {
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
    margin: 1vh 0;
    text-align: center;
}

.article-card a {
    text-decoration: none;
    color: white;
    background-color: #007bff;
    padding: 0.6em 1.2em;
    border-radius: 8px;
    transition: background-color 0.3s;
    font-size: 0.9em;
    margin-top: 1vh;
}

.article-card a:hover {
    background-color: #0056b3;
}

/* ---------- Reset List Style ---------- */
.table-article ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 5vh;
}