h1 {
    text-align: center;
}

form {
    margin: 5vw 1vw 1vw 1vw;
    display: flex;
}

.search-category{
    margin-top: 1vw;
    display: inline-flex;
}

.search-container {
    position: relative;

}

.search-container label{
    margin-bottom: 50px;
}
.search-form {
    width: 52vw;
}


input {
    background-image: url("/images/loupe.gif");
    background-size: contain;
    background-repeat: no-repeat;
    width: 42vw;
    padding: 5px 12px 5px 40px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    background-position: 0.5vw;
}


select{
    margin-left: 5vw;
    width: 32vw;
    text-align: center;
    height: 8vh;
}

button{
    width: 15vw;
    box-shadow: 3px 5px;

}

.label-category{
    align-content: center;
}

ul{
    border: solid black;
    box-shadow: 2px 5px black;
    width: 20vw;
    list-style: none;
}

.table-article{
    column-count: 2;
    margin: 10vh 15vw 10vh 15vw;
}

.image-list{
    width: 10vw;
}

.tableau{
    margin-bottom: 1vh;
}